.product_outer {
    width: 100%;
    height: 205px;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto';
    margin-bottom: 40px;
}

.product_inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(253.98deg, #C8EEFA 0.68%, #E5C5FF 97.55%);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.col-left {
    width: 60%;
    padding: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-right {
    width: 40%;
}

.product_img {
    scale: 1.1;
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: 25px;
    /* position: absolute; */
    right: 0;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    transform: rotate(3.8deg);
}

.product_button {
    background: #FBF9F7;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px 35px;
    max-width: 130px;
}

.product_text_container {
    display: flex;
    flex-direction: column;
    color: #393939;
}

.product_text_container > span:nth-of-type(1) {
    font-size: 18px;
}

.product_text_container > span:nth-of-type(2) span:nth-of-type(1) {
    font-size: 38px;
    font-weight: bold;
}

.product_text_container > span:nth-of-type(2) span:nth-of-type(2) {
    font-size: 18px;
    margin-left: 5px;
}