.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    font-size: 38px;
    font-family: 'Roboto';
}

.username {
    margin-left: auto;
}